body {
  background-color: rgb(48, 48, 48);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 230px;
}
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, .2);
  width: clamp(210px, 90vw, 380px);
}
.container .title {
  margin-bottom: 50px;
  letter-spacing: 2px;
}
.container button {
  background-color: rgb(255, 68, 68);
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}