body {
  background-color: rgb(48, 48, 48);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 220px;
}
main {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(200px, 90vw, 380px);
}
main .title {
  letter-spacing: 2px;
  margin-bottom: 50px;
}
main button {
  background-color: rgb(255, 57, 57);
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: .5s;
}
main button:hover {
  background-color: rgb(223, 52, 52);
}