.title {
  font-size: clamp(24px, 9vw, 35px);
}
img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  outline: 2px solid rgb(0, 255, 0);
  margin-bottom: 50px;
}
span.name {
  margin: 0 auto 15px 0;
  font-size: 15px;
}
span.email {
  margin: 0 auto 15px 0;
  word-break: break-all;
  font-size: 15px;
}