.container .title {
  font-size: clamp(16px, 5vw, 32px);
  margin-bottom: 40px;
}
.container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  outline: 2px solid rgb(0, 255, 0);
  margin-bottom: 40px;
}
.container .name {
  margin-bottom: 10px;
  margin-right: auto;
  font-size: 14px;
}
.container .email {
  margin-bottom: 30px;
  word-break: break-all;
  margin-right: auto;
  font-size: 14px;
}